body{
    padding:0;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    justify-content: center; 
    align-items: baseline;
    flex-wrap: wrap;
}
.task{
    font-family: Arial, Helvetica, sans-serif;
}
.description {
   
    padding-right: 5%;
}
.info{
    font-family: 'Lato', sans-serif;
}
.infoh1{
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #283F75;
    
}
.accordeon {
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    border: 2px solid #C6CDDA;
    cursor: pointer;
    padding: 17px;
    transition: background-color 0.3s ease;
    width: 100%;
    color: #283F75;
}
.accordeonClick{
    margin: 0; 
    padding: 0;
    
}
.cont {
    
    width: calc(50% - 20px); 
    margin: 10px; 
    display: flex;
    flex-direction: column;
}
.accordeon .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordeon .content img {
    margin-right: 5px;
}

.accordeon:hover {
    background-color: #f5f5f5;
}

.accordeon p, .accordeon ins  {
    margin: 0;
}

.accordeon p {
    display: none;
}

.accordeon.active {
    background-color: #e0e0e0;
}

.accordeon.active p {
    display: block;
}
.wrapper {
    align-items: center;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
.card-text{
    background-color: #EFF5F5;
    padding: 2%;
}
.stick{
    position: absolute;
    
}
.card-picture{
    margin-top: 2%;
}
.card-product{
    margin: 0;
    padding: 0;
    color: #264E58;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
.sales{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 3%;
    
}
.pizzaSales{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 3%;
    
}
.categoryproduct{
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    color: #6E6659;
}
.number4{
    margin: 0;
    padding: 5%;
    border:0;
    background-image: url(/img/redBackground.png);
    color:white;
    font-family:Arial, Helvetica, sans-serif
}
.container-new{
    max-width:1200px;
    display: flex;
    justify-content: center;
}
.form{
    
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.formcolor{
    color:white;
}
.chart-wrapper {
    display: flex;
    
}

.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 10px 10px 5px rgb(185, 185, 185);
    border-radius: 100px;
    width: 20%;
    margin-right: 10px;
    padding: 2%;
}
.pizzainline{
    display: inline-block;
}
#chart-center-text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.priceCard{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6E6659;
}
.spanCard{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6E6659;
    font-weight: bolder;
}

#cityChart {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.formPhone{
    text-decoration: underline;
}
input{
    background: transparent;
    color:white;
    border: 1px solid;
    padding: 1%;
    padding-right: 14%;
    margin-right: 2%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.418);
    background-color: rgba(251, 233, 255, 0.218);
    font-size: 16px;
    
    
}
.agree{
    width:88%;
}
input::-webkit-input-placeholder { color: white; }
.buttonForm{
    background: white;
    color:black;
    border: 0px;
    padding: 3%;
    
    
   
}
.cd{
    display: inline-grid;
    align-items: flex-start;

    
}
.agreeForm{
    width: 59%;
}
.buttonFormm {
    width: 27.5%;
}
.agreeAndButton{
    padding-top: 1%;
}
.russiaFlag{
    position: relative;
    left: 3%;
}
.numberPhone{
    text-align: center;
}
.orange{
    color: #EB7979;
}
.bankdiv{
    
    width: 50%;
}
.bankinfo {
    width: 54%;
    border-left: 2px solid black;
    padding: 2%;
    left: 1;
    margin-left: 39%;
}
.bank1{
    display: flex;
    align-items: flex-start;
    padding-bottom: 3%;
}
.company{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 43px;
    position: relative;
    left: 39.5%;
    
    
}
.half-white {
    background: linear-gradient(to right, black 16%, white 100%, transparent 100%, transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .company2{
    width: 90%;
    text-align: left;
    position: relative;
    font-size: 43px;
    right:24%;
    font-family: 'Arial Narrow', Arial, sans-serif;
  }
  .bankdiv2{
    width: 50%;
    text-align: right;
  }
  .bankColorWhite{
    color:white;
    background: linear-gradient(to left, black 82%, white 100%, transparent 100%, transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .bankColorWhitee{
    color:white;
   }
   .bankinfo2{
    width: 50%;
    border-left: 2px solid black;
    margin-left: 2%;
    text-align:left;
    padding: 2%;
   }
   .banknumber {
       text-align: center;
       width: 70%;
       font-size: xx-large;
       position: relative;
       
       
   }
   .banknumberr {
       text-align: left;
       width: 70%;
       font-size: xx-large;
       position: relative;
       right: 30%;
       color:white;
   }
   .chartCount{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   }
   .chartSpan{
    font-size: 20px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    
   }
   @media screen and (max-width: 1835px) {
        .bank1 {
            flex-direction: row;
            justify-content: space-between; /* Распределение блоков по ширине */
            align-items: flex-start;
        }
        .bankinfo2 {
            width: 100%;
            border-left: 2px solid black;
            margin-left: 2%;
            text-align: left;
            padding: 2%;
        }
        .company{
            display:none;
        }
        .bankinfo {
            width: 100%;
            border-left: 2px solid black;
            padding: 2%;
            left: 1;
            margin-left: 39%;
        }
        .company2{
            display:none;
        }
        
        .imgBank{
            display: none;
        }
    }
  